{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="columns is-mobile">
  <div class="column is-half is-offset-one-quarter">
    <div class="card">
      <div class="card-content">
        <form autocomplete="off" method="post" enctype="multipart/form-data" action="" role="form">
          {% csrf_token %}
          <h3 class="title is-3">Modifier le profil</h3>
          <div class="field">
            <label class="label is-medium">Photo de profil</label>
            <div class="file is-boxed">
              {{ form.picture }}
            </div>
          </div>
          <div class="field">
            <label class="label is-medium">Prénom</label>
            <div class="control">
              {{ form.first_name }}
            </div>
          </div>
          <div class="field">
            <label class="label is-medium">Nom</label>
            <div class="control">
              {{ form.last_name }}
            </div>
          </div>
          <div class="field">
            <label class="label is-medium">Adresse</label>
            <div class="control">
              {{ form.location }}
            </div>
          </div>
          <div class="field">
            <label class="label is-medium">Site</label>
            <div class="control">
              {{ form.url }}
            </div>
          </div>
          <div class="field">
            <label class="label is-medium">Bio</label>
            <div class="control">
              {{ form.profile_info }}
            </div>
          </div>
          <div class="row">
            <div class="col s12">
              <span style="color: red; font-weight: bold;">{{ form.errors }}</span>
            </div>
          </div>
          <div class="field">
            <p class="control">
              <button type="submit" value="login" class="button is-success">
                Modifier
              </button>
              <a href="{% url 'edit-picture' %}"> pdp</a>
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}