{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="columns is-mobile">
  <div class="column is-half is-offset-one-quarter">
    <div class="card">
      <div class="card-content">
      <form method="post" enctype="multipart/form-data" action="" role="form">
        {% csrf_token %}
        <h3 class="title is-3">Modifier profil</h3>
          <div class="file-field input-field ">
            <div class="btn light-blue">
              <span>Photo de profil</span>
              {{form.picture}}
            </div>
            <div class="file-path-wrapper">
              <input type="text" class="file-path validate">
            </div>
          </div>
          <div class="file-field input-field ">
            <div class="btn light-blue">
              <span>Photo couverture</span>
              {{form.banner}}
            </div>
            <div class="file-path-wrapper">
              <input type="text" class="file-path validate">
            </div>
          </div>
          <div class="input-field col s12">
            {{ form.first_name }}
            <label for="first_name">Nom</label>
          </div>
          <div class="input-field col s12">
            {{ form.last_name }}
            <label for="last_name">Prénom</label>
          </div>
          <div class="input-field col s12">
            {{ form.location }}
            <label for="location">Adresse</label>
          </div>
          <div class="input-field col s12">
            {{ form.url }}
            <label for="url">URL</label>
          </div>
          <div class="input-field col s12">
            {{ form.profile_info }}
            <label for="profile_info">Bio</label>
          </div>
          
          <div class="row">
            <div class="col s12">
              <span style="color: red; font-weight: bold;">{{ form.errors }}</span>
            </div>
          </div>
          <div class="field">
            <p class="control">
              <button type="submit" value="login" class="btn waves-effect waves-light light-blue">Mise à jour </button>
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}