
:root {
    --borad: 1rem;
    --boradsmall: 0.375rem;
    --primaryColor: royalblue;
    --secondaryColor: #1565c0;
    --white: #f0f0f0;
    --red: #e53935;
    --grey: #bdbdbd;
    --transition: all 0.4s ease;
    --largeFont: 'Poppins', sans-serif;
    --smallFont: 'Poppins', sans-serif;
    --transition: all 0.3s ease;
    --error: #b71c1c;
    --deepgrey : #999;
    --midGrey: #555;
    --blackTxt: #333;
}
body{
    display: flex;
    align-items: center;
    min-height: 100vh;
}
* {
    margin: 0;
    padding: 0;
    transition: var(--transition);
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-family: var(--smallFont);
}
.wrapper{
    width: 100%;
}
.wrapper .carousel{
    
    max-width: 1200px;
    margin: auto;
    padding: 0 30px;
}
.carousel .ps_card{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    border-radius: var(--boradsmall);
    overflow: hidden;
    height: 80vh;
}
.owl-carousel .owl-item img,
.owl-carousel .owl-item video{
    width: auto;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}
.owl-dots{
    text-align: center;
}
.owl-dot{
    margin: 0 5px;
    height: 1rem;
    width: 1rem;
    border-radius:50%;
    cursor: pointer;
    outline: none;
    border: 2px solid var(--primaryColor) !important;

}

.owl-dot:hover,
.owl-dot.active{
    background: var(--primaryColor) !important;
}






