@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-Medium.ttf") format("ttf");
}

:root {
    --borad: 15px;
    --boradsmall: 6px;
    --primaryColor: #1e88e5;
    --secondaryColor: #1565c0;
    --white: #f0f0f0;
    --red: #e53935;
    --grey: #bdbdbd;
    --transition: all 0.4s ease;
    --largeFont: 'Poppins', sans-serif;
    --smallFont: 'Poppins', sans-serif;
    --transition: all 0.3s ease;
    --error: #b71c1c;
}

*,
*::before,
*::after{
    color: var(--white);
    margin: 0;
    padding: 0;
    transition: var(--transition);
    text-decoration: none;
    font-family: var(--smallFont);
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: var(--smallFont);
    background-size: auto;
    padding-bottom: 3rem;
    background: url(buble.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--white);
}

/* profile  */
.pro_img{
    display: block;
}
.pro_container{
    max-width: 93.5rem;
    margin: 0 auto;
    padding: 0 2rem;
}
.pro_btn{
    all: unset;
    background: none;
    color: none;
    display: inline-block;
    cursor: pointer;
    border: none;
}
.pro_btn:focus{
    outline: 0.5rem auto var(--primaryColor);
}

.pro_profile{
    padding-left: 5rem 0;

}
.pro_profile::after{
    content: "";
    display: block;
    clear: both;

}
.pro_profile-image{
    float: left;
    width: calc(33.333%- 1rem);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3rem;
}
/* profile fin  */
