:root {
    --borad: 1rem;
    --boradsmall: 0.375rem;
    --primaryColor: #1e88e5;
    --secondaryColor: #1565c0;
    --white: #f0f0f0;
    --red: #e53935;
    --grey: #bdbdbd;
    --transition: all 0.4s ease;
    --largeFont: 'Poppins', sans-serif;
    --smallFont: 'Poppins', sans-serif;
    --transition: all 0.3s ease;
    --error: #b71c1c;
    --deepgrey: #999;
    --midGrey: #555;
    --blackTxt: #333;
}

* {
    margin: 0;
    padding: 0;
    transition: var(--transition);
    text-decoration: none;
    font-family: var(--smallFont);
}

body {
    font-family: 'Poppins', sans-serif;
}

.main-login-container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 7rem;

}

.login-logo {
    width: 80px;
}

.login-center-text {

    font-size: 2.3rem;
    font-weight: 800;
    color: var(--white);
    justify-content: flex-end;
    align-items: center;

    animation: animatedBackground 10s linear infinite alternate;
    background-image: url(../img/cloudWhite.jpg);

}

.login_blur {
    backdrop-filter: blur(20px);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-center-text h1 {
    display: flex;
    pointer-events: none;
    width: 100%;
    animation: animatedBackground 50s linear infinite backwards;
    background-image: url(../img/sky.jpg);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 2rem;
    background-size: 100vh;
}

.login-container {
    display: flex;
    align-items: center;
    text-align: center;
}

#login-form h2 {
    pointer-events: none;
    font-size: 2rem;
    text-transform: uppercase;
    margin: 1rem 0;
    padding: 0 4rem;
    
    animation: animatedBackground 200s linear infinite backwards;
    background-image: url(../img/skyBlue.jpg);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.input-div {
    align-items: center;
    cursor: pointer;
    position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 1.56rem 0;
    padding: 0.31rem 0;
    border-bottom: 2px solid var(--grey);
}

.input-div::after,
.input-div::before {
    cursor: pointer;
    content: '';
    position: absolute;
    bottom: -2px;
    width: 0;
    height: 2px;
    transition: .3s;
    background-color: var(--primaryColor);
}

.input-div::after {
    right: 50%;
}

.input-div::before {
    left: 50%;
}

.input-div.one {
    margin-top: 0;
}

.input-div.two {
    margin-bottom: 4px;
}

.i_login {
    display: flex;
    justify-content: center;
    align-items: center;
}

.i_login i {
    color: var(--grey);
    transition: .3s;
}

.input-div>div {
    position: relative;
    height: 2rem;

}

.input-div.focus div h5 {
    top: -5px;
    font-size: 0.9rem;
}

.input-div.focus div i {
    color: var(--primaryColor);
}

.input-div.focus::after,
.input-div.focus::before {
    width: 50%;
    color: var(--primaryColor);
}


.input-div>div h5 {
    position: absolute;
    left: 0.625rem;
    top: 50%;
    transform: translateY(-50%);
    color: var(--deepgrey);
    font-size: 1.125rem;
    transition: .3s;
}

.input_login {

    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: none;
    outline: none;
    background: none;
    padding: 0.5rem 0.7rem;
    font-size: 1.2rem;
    color: var(--midGrey);
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.input_login .input_login {
    top: -10px;
}

.a_login {
    display: block;
    text-align: right;
    text-decoration: none;
    color: var(--deepgrey);
    font-size: 0.9rem;
}

.a_login:hover {
    color: var(--primaryColor);
}

.login-button {
    text-transform: uppercase;
    display: block;
    width: 100%;
    height: 50px;
    border-radius: var(--boradsmall);
    margin: 1rem 0;
    font-size: 1.2rem;
    outline: none;
    border: none;
    background-image: linear-gradient(to right, var(--secondaryColor), var(--primaryColor), var(--secondaryColor));
    cursor: pointer;
    color: var(--white);
    font-family: 'Poppins', sans-serif;
    background-size: 200%;
    transition: .5s;
}

.login-button:hover {
    background-position: right;
}

/* responsive  */

@media screen and (max-width: 1050px) {
    .main-login-container {
        grid-gap: 5rem;
    }

    .login-center-text h1 {
        width: 400px;
    }
}

@media screen and (max-width: 1000px) {
    #login-form {
        width: 290px;
    }

    #login-form h2 {
        margin: 8px 0;
    }

    .login-center-text h1 {
        width: 400px;
    }

    .login-center-text {

        font-size: 2rem;

    }

    .login-logo {
        width: 80px;
    }
}

@media screen and (max-width: 900px) {
    .login-center-text {
        display: none;
    }

    .main-login-container {
        grid-template-columns: 1fr;
    }

    .login-container {
        justify-content: center;
    }

    #login-form {
        width: 100%;
        margin: 0 20%;
    }

    #login-form h2 {
        margin: 8px 0;
    }

    .input-div>div {
        position: relative;
        height: 2rem;

    }
}

.authError {
    color: var(--white);
    background-color: tomato;
    border: 2px solid red;
    border-radius: 2px;
    text-decoration: none;
    list-style: none;
    font-size: 0.8rem;
}

::marker {
    unicode-bidi: unset !important;
    font-variant-numeric: unset !important;
    text-transform: none !important;
    text-indent: unset !important;
    text-align: unset !important;
    text-align-last: unset !important;
}

@keyframes animatedBackground {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 100% 50%;
    }
}