@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');


:root {
    --borad: 4px;
    --primaryColor: #1e88e5;
    --secondaryColor: #1565c0;
    --white: #f0f0f0;
    --red: #e53935;
    --grey:#bdbdbd;
    --transition: all 0.4s ease;
    --largeFont:  'Poppins', sans-serif;
    --smallFont: 'Poppins',sans-serif;
    --transition: all 0.3s ease;
    --error  : #b71c1c;
}

* {
    margin: 0;
    padding: 0;
    transition: var(--transition);
    text-decoration: none;
    font-family: var(--smallFont);
    
}


.primaryColor {
    background-color: var(--primaryColor);
    color: var(--white);
}

.navigation_bar {
    width: 100vw;
    z-index: 100;
    display: flex;
    height: 2.8rem;
    position: fixed;
    align-items: center;
    flex-direction: row;
    justify-content: right;
    background-color: var(--white);
}
.navigation_bar_list{
    margin-right: 1rem;
}
.navigation_bar_item {
    margin: 0.1rem;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: var(--primaryColor);
    font-family: var(--largeFont);
    transition: var(--transition);
}

.navigation_bar_item:hover {
    color: var(--white);
    transition: var(--transition);
    background-color: var(--primaryColor);

}
.red{
    color: var(--red);
}
.red:hover{
    background-color: var(--red);
}
.small_logo{
    width: 1.6rem;
    height: 1.8rem;
    background: url(../img/colorLogo.png);
    background-size: cover;
    z-index: 101;
    position: fixed;
    left: 0;
    margin-left: 1rem;
}

/* recherche  */
.rechercher{
    display: flex;
    justify-content: center;
    align-items: center;
}
.boutton{
    border-style: none;
    border-radius: 4px;
    font-size: 1rem;
    margin: 0.2rem;
    padding: 0.5rem;
}

.boutton:hover{
    background-color: var(--secondaryColor);
    transition: var(--transition);
}
.input_recherche{
    width: 60%;
    height: 2rem;
    font-size: 1rem;
    padding-left: 1rem;
}
.input_text{
    height: 1.5rem;

}
.img_profile_direct{
    width: 6rem;
    height: 6rem;
    border-radius: 100%;
}
.resultats_total{
    display: inline;
}
.resultat_profil{
    margin:2rem;
}
.grand_titre{
    font-family: var(--largeFont);
    margin: 1rem;
    color: var(--primaryColor);
}
.center_content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.center_form{
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    border-radius: var(--borad);
    padding: 1rem;
    width: 60%;
    justify-content: center;
}
.body{
    background-color: var(--primaryColor);
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.error{
    color: var(--error);
}
.cancel{
    color: var(--red);
}

.input-box{
    height: 3rem;
    margin: 1rem 0;
    position: relative;
}
.input-box input{
    font-family: 'Poppins',sans-serif;
    font-size: 1rem;
    background: var(--white);
    position: absolute;
    height: 100%;
    width: 80%;
    border-radius: 2px;
    outline: none;
    border: 2px solid var(--grey);
    padding-left: 1rem;
    transition: var(--transition);
}

.input-box input:focus,
.input-box input:valid{
    background-color: var(--white);
    border-color: var(--primaryColor);
}

.input-box label{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;
    top: 50%;
    color: var(--grey);
    font-size: 1rem;
    pointer-events: none;
    transform: translateY(-50%);
    transition: var(--transition);
}


.input-box input:focus ~ label,
.input-box input:valid ~ label{
    top: 0;
    color: var(--primaryColor);
    background: var(--white);
}
.big{
    width: 50%;
}
.duo{
    display: flex;
    align-items: center;
    margin-top: 1rem;
}
.duo a{
margin-right: 1rem;
}
.edit_list{
         color: black;
}
.modifier,
.smallTitle{
    margin: 0 1rem;
}
.smallTitle{
    font-weight: bold;
}