{% extends 'base.html' %}
{% block content %}
<div class="row">
	<br>
	<div class="col s12 center-align">
		<i class="large material-icons green-text">check_circle</i>
	</div>
	<div class="col s12 center-align">
		<h4>Nous vous avons envoyer par email les instructions pour réinitialiser votre mot de passe.</h4>
		<p>Si l'adresse mail que vous nous avez fourni existe alors vous recevrez les instructions.</p>
		<p>Si vous n'avez pas reçu d'email, veuillez verifier dans la section spam et vous assurez que vous avez fourni
			la bonne adresse mail.</p>
	</div>
</div>

<br>
<br>
{% endblock %}