{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
<div class="columns is-mobile" style="background: #bdbdbd;">
  <div>
    <aside>
      <h1>Messages</h1>
      <ul style="overflow-y: scroll; height: 400px">
        {% for message in messages %}
        <a class="{% if active_direct == message.user.username %}discu-active{% endif %}"
          href="{% url 'directs' message.user.username %}">
          <article class="media">
           
            <div>
              <p><b>{{ message.user.username }}</b></p>
            </div>
            {% if message.unread %}
            <p style="color: red;">{{ message.unread }} messages non lus</p>
            {% endif %}
          </article>
        </a>
        {% endfor %}
      </ul>
    </aside>
    <a href="{% url 'usersearch' %}" style="padding: 1rem; background: turquoise; border-radius: 5px;">Nouveau message</a>
  </div>
  <div class="column">
    <div style="overflow-y: scroll; height: 500px">
      {% for direct in directs %}
      {% if direct.body%}
      {% if direct.sender == user %}
      <div style="margin-bottom: 0.5rem;">
        <article class="media" style="background: tomato;">
          <div class="media-left">
          </div>
          <div class="media-content">
            <div>
              <p>
                <p>{{ direct.date|naturaltime}}</p>
                <b>Moi</b>
              </p>
              <p>{{ direct.body }}</p>
            </div>
          </div>
        </article>
      </div>
      {%else%}
      <div>
        <article class="media">
          <div class="media-left">
          </div>
          <div class="media-content">
            <div>
              <p>
                <p>{{ direct.date|naturaltime}}</p>
                <b>{{ direct.sender.username }}</b>
              </p>
              <p>{{ direct.body }}</p>
            </div>
          </div>
        </article>
      </div>
      {%endif%}
      {%endif%}
      {% endfor %}
    </div>
    <form role="form" method="POST" action="{% url 'send_direct' %}">
      {% csrf_token %}
      <article class="media">
        <div class="media-content">
          <div class="field">
            <input type="text" required class="textarea input_message" name="body" placeholder="Envoyez un message..."></input>
          </div>
          <button type="submit" name="action">Envoyer</buttom>
        </div>
      </article>
    </form>
    



  </div>
</div>
{% endblock %}