{% extends 'base.html' %}
{% load static %}
{% block content %}

<br><br><br>
<form class="rechercher">
  <input class="input_text" name="q" type="text" placeholder=" Rechercher..." value="{{ request.GET.q }}">
  <div class="control">
    <button type="submit" class="primaryColor boutton">Rechercher</button>
  </div>
</form>
<div class="resultats_total">
  {% for user in users %}
  <div class="resultat_profil">
    {% if user.profile.picture %}
    <img class="img_profile_direct" src="{{ user.profile.picture.url }}" alt="Photo de {{ user.username }}">
    {% else %}
    <img class="img_profile_direct" src="{% static 'img/no_picture.png'%}" alt="Photo de {{ user.username }}">
    {% endif %}
    <strong>{{ user.profile.first_name }} {{ user.profile.last_name }}</strong><small>@{{ user.username }}</small>
    <a href="{% url 'newconversation' user.username %}" class="boutton primaryColor">Message</a>
  </div>
  {% endfor %}
</div>
{% endblock %}