{% extends 'base.html' %}
{% load static %}
{% block content %}


<form class="rechercher">
    <input class="input_recherche" name="q" type="text" placeholder=" Rechercher..." value="{{ request.GET.q }}">
    <div class="control">
        <button type="submit" class="primaryColor boutton">Rechercher</button>
    </div>
</form>
<div class="resultats_total">
    {% for user in users %}
    <div class="user_card">
        <div class="user_card_desc">
            <h6 class="user_username_text">{{ user.username }}</h6>
            <h6 class="user_name_text">{{ user.profile.first_name }} {{ user.profile.last_name }}</h6>
        </div>
        <div class="user_card_bottom">
            <a href="{% url 'newconversation' user.username %}" class="user_card_message">
                <h4> Message</h4>
            </a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}