{% extends 'base.html' %}
{% load static %}
{% block content %}
<ul class="collection">
{% for notification in notifications %}
    {% if notification.notification_type == 1 %}
            <li class="collection-item avatar">
            {% if notification.sender.profile.picture %}
                <img src="{{ notification.sender.profile.picture.url }}" class="circle responsive-img">
            {% else %}
                <img src="{% static 'img/no_avatar.jpg' %}" class="circle responsive-img">
            {% endif %}
                <span class="title">{{ notification.sender.first_name }} {{ notification.sender.last_name }}</span>
                <p><b>@{{ notification.sender.username }}</b></p>
                <a href="{% url 'delete-notification' notification.id %}" class="secondary-content">Supprimer</a>
                <br>
                <p style="font-style: italic;"><b>a liké votre </b></p>
                <a href="{% url 'postdetails' notification.post.id %}">publication</a>
            </li>
    {% elif notification.notification_type == 2 %}
        <li class="collection-item avatar">
        {% if notification.sender.profile.picture %}
            <img src="{{ notification.sender.profile.picture.url }}" class="circle responsive-img">
        {% else %}
            <img src="{% static 'img/no_avatar.jpg' %}" class="circle responsive-img">
        {% endif %}
            <span class="title">{{ notification.sender.first_name }} {{ notification.sender.last_name }}</span>
            <p><b>@{{ notification.sender.username }}</b></p>
            <a href="{% url 'delete-notification' notification.id %}" class="secondary-content">Supprimer</a>
            <p>A commenté: </p>
            <p style="font-style: italic;"><b>"{{ notification.text_preview }}"</b></p>
            <a href="{% url 'postdetails' notification.post.id %}">voir la publication</a>
        </li>
    {% else %}
    <li class="collection-item avatar">
        {% if notification.sender.profile.picture %}
            <img src="{{ notification.sender.profile.picture.url }}" class="circle responsive-img">
        {% else %}
            <img src="{% static 'img/no_avatar.jpg' %}" class="circle responsive-img">
        {% endif %}
            <span class="title">{{ notification.sender.first_name }} {{ notification.sender.last_name }}</span>
            <p><b>@{{ notification.sender.username }}</b></p>
            <a href="{% url 'delete-notification' notification.id %}" class="secondary-content"><i class="material-icons">delete</i></a>
            <p style="font-style: italic;"><b>vous suit.</b></p>
        </li>
    {% endif %}

    {% empty %}
    <div class="center-align">
        <h3>Aucune notification</h3>
{% endfor %}
</ul>
{% endblock %}