{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Mex!</title>
  <link rel="shortcut icon" href="{% static 'img/colorLogo.png'%}" type="image/x-icon">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
  <div class="navigation_bar" role="navigation" aria-label="main navigation">
    <a href="{% url 'index' %}" class="small_logo"></a>
    <div class="navigation_bar_list">
      <a class="navigation_bar_item" href="{% url 'index' %}">Fil d'actualité</a>
      <a class="navigation_bar_item" href="{% url 'usersearch' %}">Rechercher</a>
      <a class="navigation_bar_item" href="{% url 'show-notifications' %}">Notifications
        {% if count_notifications %}
        <span class="badge">{{ count_notifications }}</span>
        {% endif %}
      </a>
      <a class="navigation_bar_item" href="{% url 'inbox' %}">Messages
        {% if directs_count %}
        <span class="badge">{{ directs_count }}</span>
        {% endif %}
      </a>
      <a class="navigation_bar_item" href="{% url 'newpost' %}">Publier
      </a>
      <a class="navigation_bar_item" href="{% url 'profile' request.user %}">{{ request.user }}
      </a>
      <a class="navigation_bar_item" href="{% url 'change_password' %}">Changer mot de passe
      </a>
      <a class="navigation_bar_item red" href="{% url 'logout' %}">Deconnexion
      </a>
    </div>
  </div>
  
  {% block banner %}
  {% endblock %}
  <section class="section">
    <div class="container">
      {% block content %}
      {% endblock %}
      {% block pagination %}
      {% endblock %}
    </div>
  </section>
</body>
<script src="{% static 'js/init.js' %}"></script>
<script src="{% static 'js/jquery-2.1.1.min.js' %}"></script>
<script src="{% static 'js/slider.js' %}"></script>

</html>