{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Mex!</title>
  <link rel="stylesheet" href="{% static 'css/fontawesome/css/fontawesome-all.min.css' %}">
  <link rel="shortcut icon" href="{% static 'img/colorLogo.png'%}" type="image/x-icon">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <header class=" glass_view">
      <a href="{% url 'index' %}" class="small_logo"><img src="{%static 'img/colorLogo.png' %}" alt=""><span>
        </span></a>
      <div class="menu-toggle"></div>
      <nav class="nav-list-item">

        <ul>
          <li><a id="actu" class="activeNav" href="{% url 'index' %}">Fil d'actualité</a></li>
          <li><a id="search" href="{% url 'usersearch' %}">Rechercher</a></li>
          <li><a id="notification" href="{% url 'show-notifications' %}">Notifications
              {% if count_notifications %}
              <span class="badge">{{ count_notifications }}</span>
              {% endif %}
            </a></li>
          <li><a id="message" href="{% url 'inbox' %}">Messages
              {% if directs_count %}
              <span class="badge">{{ directs_count }}</span>
              {% endif %}
            </a></li>
          <li><a id="publier" href="{% url 'newpost' %}">Publier</a></li>
          <li><a id="profile" href="{% url 'profile' request.user %}">{{ request.user }}</a></li>
          <li><a id="password" href="{% url 'change_password' %}">Password</a></li>
          <li><a id="logout" href="{% url 'logout' %}">Deconnexion</a></li>
        </ul>
      </nav>
      <div class="clearfix"></div>
    </header>
  </div>
  {% block banner %}
  {% endblock %}
  <section class="section">
    <div class="container">
      {% block content %}
      {% endblock %}
      {% block pagination %}
      {% endblock %}
    </div>
  </section>
</body>
<script src="{% static 'js/init.js' %}"></script>
<script src="{% static 'js/jquery-3.3.1.js' %}"></script>
<script src="{% static 'js/slider.js' %}"></script>
<script type="text/javascript">
  $(document).ready(function () {
    $('.menu-toggle').click(function () {
      $('.menu-toggle').toggleClass('active')
      $('.nav-list-item').toggleClass('active')
    })
  })
</script>

</html>