{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="body">
  <div class="container center_content">
    <form class = "center_form" method="post" action="" role="form" class="col s12">
      {% csrf_token %}
      {{ form.id }}
      <h3 class="grand_titre">Changer de mot de passe</h3>
      <div class="input_and_label">
        <label class="input_label" for="old_password">Ancien mot de passe</label>
        {{ form.old_password }}
      </div>
      <div class="input_and_label">
        <label class="input_label" for="new_password">Nouveau mot de passe</label>
        {{ form.new_password }}
      </div>
      <div class="input_and_label">
        <label class="input_label" for="password">Confirmer</label>
        {{ form.confirm_password }}
      </div>
      <div>
        <div>
          <span style="color: red; font-weight: bold;">{{ form.errors }}</span>
        </div>
      </div>
      <button class="boutton primaryColor" type="submit" name="action">Changer</button>
      <a class="cancel" href="{% url 'profile' request.user %}">Annuler</a>
    </form>
  </div>
</div>
{% endblock %}