{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block content %}

<div class="columns is-mobile is-centered">
  <div class="column is-half">
    {% for notification in notifications %}
    {% if notification.notification_type == 2 %}
    <div class="notification">
      <a href="{% url 'delete-notification' notification.id %}" class="delete"></a>
      <article class="media">
        <figure class="media-left">
          <p class="image is-80x80">
            {% if notification.sender.profile.picture %}
            <img class="is-rounded" src="{{ notification.sender.profile.picture.url }}" alt="Placeholder image">
            {% else %}
            <img src="{% static 'img/no_picture.png'%}" alt="Placeholder image">
            {% endif %}
          </p>
          
        </figure>
        <div class="media-content">
          <div class="content">
            <strong>{{ notification.sender.username }}</strong>
            <br>
            <p>{{ notification.sender.profile.first_name }} {{ notification.sender.profile.last_name }}
            A commenté:</p>
            <p>{{ notification.text_preview }}...</p>
            <p> <i class="fas fa-comment"></i> <b>{{ notification.date|naturaltime }}</b></p>
          </div>
        </div>
      </article>
    </div>
    {% endif %}
    {% if notification.notification_type == 3 %}
    <div class="notification">
      <a href="{% url 'delete-notification' notification.id %}" class="delete"></a>

      <article class="media">
        <figure class="media-left">
          <p class="image is-80x80">
            {% if notification.sender.profile.picture %}
            <img class="is-rounded" src="{{ notification.sender.profile.picture.url }}" alt="Placeholder image">
            {% else %}
            <img src="{% static 'img/no_picture.png'%}" alt="Placeholder image">
            {% endif %}
          </p>
        </figure>
        <div class="media-content">
          <div class="content">

            <strong>{{ notification.sender.username }}</strong>
            <br>
            <p>{{ notification.sender.profile.first_name }} {{ notification.sender.profile.last_name }} vous suit.</p> 
            <p><i class="fas fa-user-plus"></i>  <b>{{ notification.date|naturaltime}}</b></p>
          </div>
        </div>
      </article>
    </div>
    {% endif %}
    <!-- FOR LIKE --->
    {% if notification.notification_type == 1 %}
    <div class="notification">
      <a href="{% url 'delete-notification' notification.id %}" class="delete"></a>
      <article class="media">
        <figure class="media-left">
          <p class="image is-80x80">
            {% if notification.sender.profile.picture %}
            <img class="is-rounded" src="{{ notification.sender.profile.picture.url }}" alt="Placeholder image">
            {% else %}
            <img src="{% static 'img/no_picture.png'%}" alt="Placeholder image">
            {% endif %}
          </p>
        </figure>
        <div class="media-content">
          <div class="content">
            <strong>{{ notification.sender.username }}</strong>
            <br>
            <p>{{ notification.sender.profile.first_name }} {{ notification.sender.profile.last_name }} aime votre publication.</p>
            <p><i class="fas fa-thumbs-up"></i><b style="margin-left: 0.6rem;">{{ notification.date|naturaltime }}</b></p>
          </div>
        </div>
      </article>
    </div>
    {% endif %}
    {% endfor %}
    <!-- FOR LIKES --->
  </div>
</div>
{% endblock %}