{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Créer un compte</title>
  <link rel="shortcut icon" href="{% static 'img/colorLogo.png'%}" type="image/x-icon">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body class="body">
  <div class="container center_content">
    <form class="center_form" method="post" action="" role="form">
      {% csrf_token %}
      <h3 class="grand_titre">Créer un compte</h3>
      <div class="input_and_label">
        <!-- username  -->
        <label class="input_label">Nom d'utilisateur</label>
        {{ form.username }}
      </div>

      <!-- prenom  -->
      <div class="input_and_label">
        <label class="input_label">Prénom</label>
        {{ form.first_name }}
      </div>

      <!-- nom -->
      <div class="input_and_label">
        <label class="input_label">Nom</label>
        {{ form.last_name }}
      </div>

      <!-- adresse -->
      <div class="input_and_label">
        <label class="input_label">Adresse</label>
        {{ form.location }}
      </div>

      <!-- url -->
      <div class="input_and_label">
        <label class="input_label">Lien</label>
        {{ form.url }}
      </div>

      <!-- mail -->
      <div class="input_and_label">
        <label class="input_label">Email</label>
        {{ form.email }}
      </div>

      <!-- mdp -->
      <div class="input_and_label">
        <label class="input_label">Mot de passe</label>
        {{ form.password }}
      </div>

      <!-- confirmation mdp -->
      <div class="input_and_label">
        <label class="input_label">Confirmer le mot de passe</label>
        {{ form.confirm_password }}
      </div>
      <div class="row">
        <span style="color: red; font-weight: bold;">{{ form.errors }}</span>
      </div>
      <div class="field">
        <button type="submit" name="action" class="boutton primaryColor">Créer</button>
      </div>
    </form>
  </div>
</body>

</html>